<div class="mx-auto text-center">
  <div class="flex">
    <h1 class="text-4xl font-bold text-gray-700">Search Results: </h1>
    <h1 class="text-4xl font-bold text-red-700 ml-4"><%= message %></h1>
  </div>
</div>