<section class="flex flex-col bg-[#eceef1] py-36">
  <div class="mx-auto">
    <h1 class="font-bold text-4xl text-[#141c55] mb-10 px-10">Frequently Asked Question</h1>

    <div class="flex flex-col">
      <%= render partial: 'shared/accordion', locals: { title: 'Dedicated customer support and help portal.', icon_position: 'up' } %>
      <%= render partial: 'shared/accordion', locals: { title: 'Lorem ipsum keme keme keme 48 years at bakit mahogany ang Mike', icon_position: 'up' } %>
      <%= render partial: 'shared/accordion', locals: { title: 'Lorem ipsum keme keme keme 48 years at bakit mahogany ang Mike', icon_position: 'up' } %>
      <%= render partial: 'shared/accordion', locals: { title: 'Lorem ipsum keme keme keme 48 years at bakit mahogany ang Mike', icon_position: 'up' } %>
    </div>
  </div>
</section>