<section class="text-center flex flex-col pt-20">
  <div class="text-indigo-900 items-center mb-10">
    <h1 class="font-bold text-5xl">Explore Our Books</h1>

    <div class="font-medium text-lg text-center w-[50%] mx-auto my-10">
      With our dedicated customer support team, you can rest easy knowing that we're doing everything we can to save you time, money, and stress.
    </div>
  </div>

  <div class="flex flex-col mx-auto justify-center lg:flex-row">

    <% books.each do |book| %>
      <div class="flex flex-col tracking-wider mx-4 items-center">
        <%= image_tag(book.book_cover, class:"h-3/4 max-w-sm border-8 border-gray-300 rounded-lg") %>

        <div class="mx-auto">
          <div class="book-title text-3xl font-bold text-indigo-900 lg:text-gray-50 mt-6 mb-4 text-left ">
            <%= book.title %>
          </div>

          <div class="text-left font-medium text-cyan-500 text-lg">
            <%= link_to book_path(id: book.isbn_number_13), data: { turbo_stream: true } do %>
              View Book Details <i class="fa-solid fa-chevron-right"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="relative w-full h-auto z-[-1] pb-16">
    <div class="h-auto w-full bg-[#061935] absolute bottom-0 top-[-15rem] -skew-y-3 z-[-1]"></div>

    <div class="flex flex-col tracking-wider mx-28 mt-20">
      <div class="text-gray-50 mb-10 text-left">
        <h1 class="font-bold text-4xl">3 Reason To Shop With Us</h1>
      </div>

      <div class="flex flex-col mt-10 lg:flex-row">
        <div class="text-gray-50 pr-16 my-5">
          <div class="mb-10">
            <img src="/box.svg" />
          </div>

          <div class="text-left">
            <h1 class="text-2xl font-semibold mb-6 pr-20">All textbook rentals come with free return shipping.</h1>
            <p class="text-base font-normal text-gray-200">Lorem ipsum keme keme keme 48 years bella na biway at nang chuckie 
              dites sa ng shala ugmas at bakit , conalei quality control doonek at nang effem ang kirara sa.</p>
          </div>
        </div>

        <div class="text-gray-50 pr-16 my-5">
          <div class="mb-10">
            <img src="/help.svg" />
          </div>

          <div class="text-left">
            <h1 class="text-2xl font-semibold mb-6 pr-20">Dedicated customer support and help portal.</h1>
            <p class="text-base font-normal text-gray-200">Lorem ipsum keme keme keme 48 years bella na biway at nang chuckie 
              dites sa ng shala ugmas at bakit , conalei quality control doonek at nang effem ang kirara sa.</p>
          </div>
        </div>

        <div class="text-gray-50 pr-16 my-5">
          <div class="mb-10">
            <img src="/baboy.svg" />
          </div>

          <div class="text-left">
            <h1 class="text-2xl font-semibold mb-6">Buy or rent cheap textbooks & save up to $500 per year!</h1>
            <p class="text-base font-normal text-gray-200">Lorem ipsum keme keme keme 48 years bella na biway at nang chuckie 
              dites sa ng shala ugmas at bakit , conalei quality control doonek at nang effem ang kirara sa.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>